<div class="container">
    <div class="row justify-content-center py-5">
        <div class="col-md-5">
            <form method="post" action="/login">
                <h4 class="pb-3">Login</h4>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input name="username" required type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input name="password" required type="password" class="form-control">
                </div>
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <a href="/register">Sign up instead</a>
            </form>
        </div>
    </div>
</div>